@font-face {
    font-family: inter;
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}
@font-face {
    font-family: poppins;
    src: url(../fonts/Poppins-Regular.ttf);
}
body {
    margin: 0px;
    font-family: inter;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
div.top {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 87%;
    padding-left: 6.5%;
    padding-right: 6.5%;
    height: 50px;
}
div.top div.text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
div.top div.text p {
    font-family: poppins;
    font-weight: 400;
    color: #fafafa;
    font-size: 14px;
    margin-right: 9px;
}
div.top div.text button {
    background: none;
    border: none;
    color: #fafafa;
    font-family: poppins;
    font-weight: 600;
    font-size: 14px;
    text-decoration-line: underline;
    cursor: pointer;
}
div.top div.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
div.top div.lang h5 {
    font-family: poppins;
    font-weight: 400;
    font-size: 14px;
    color: #fafafa;
    margin-right: 9px;
}
div.top div.lang img {
    width: 15px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 0.5px solid #99999999;
}
header h1 a img {
    width: 90%;
    margin: 0 auto;
}
header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 48px;
}
header nav ul li a {
    font-family: poppins;
    color: #000;
    font-size: 16px;
}
header nav ul li a:hover {
    border-bottom: 2px solid #999;
}
header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
header ul li div.form  {
    width: 243px;
    height: 38px;
    background: #f5f5f5;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 34px;
    padding: 7px;
    padding-left: 27px;
    padding-right: 17px;
}
header ul li div.form input {
    outline: none;
    margin-right: 10px;
    border: none;
    background: none;
}
section.wrapper {
    width: 87%;
    margin: 0 auto;
}
section.spotlight div.black {
    background: #000;
    height: 453px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 43px;
}
section.spotlight div.black div.wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.spotlight div.black div.wrap div.content div.apple {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
section.spotlight div.black div.wrap div.content div.apple h5 {
    font-family: poppins;
    font-size: 16px;
    color: #fafafa;
    font-weight: 400;
}
section.spotlight div.black div.wrap div.content h1 {
    font-size: 48px;
    font-weight: 600;
    color: #fafafa;
    font-family: inter;
}
section.spotlight div.black div.wrap div.content div.button {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 9px;
    cursor: pointer;
}
section.spotlight div.black div.wrap div.content div.button button {
    background: none;
    border: none;
    color: #fafafa;
    font-size: 16px;
    font-family: poppins;
    border-bottom: #999 1.5px solid;
    cursor: pointer;
}
section.categories {
    margin-top: 55px;
}
section.categories div.text {
    display: flex;
    align-items: center;
    justify-content: left;
}
section.categories div.text h5 {
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    color: #db4444;
    margin-left: 16px;
}
section.categories h1 {
    font-family: inter;
    font-weight: 600;
    font-size: 36px;
}
section.categories div.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    width: 87%;
    margin: 0 auto;
}
section.categories div.flex div.box {
    border-radius: 5px;
    border: 1px solid #999;
    width: 170px;
    height: 145px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
section.categories div.flex div.box img {
    margin-top: 25px;
}
section.categories div.flex div.box h4 {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
}
section.categories div.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 77%;
    margin: 0 auto;
}
section.categories div.product div.box {
    padding: 19px;
    border: 3px solid #777;
    border-radius: 11px;
    width: 370px;
    margin-top: 50px;
}
section.categories div.product div.box h4 {
    font-size: 16px;
    font-weight: 400;
}
section.categories div.product div.box img {
    width: 190px;
}
section.categories div.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    width: 87%;
    margin: 0 auto;
    border-bottom: #999 2px solid;
    padding-bottom: 27px;
    margin-bottom: 27px;
    margin-top: 27px;
}
section.categories div.grid div.boxa {
    gap: 16px;
}
section.categories div.grid div.cart {
    background: #f5f5f5;
    border-radius: 5px;
    width: 270px;
    height: 110px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section.categories div.grid div.cart img.img {
    display: block;
    width: 45%;
    margin: 0 auto;
}
section.categories div.grid div.cart span.icon {
    position: absolute;
    left: 211px;
    bottom: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.categories div.grid div.cart span.icon1 {
    position: absolute;
    left: 211px;
    bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.categories div.grid div.cart button.cart {
    width: 100%;
    position: absolute;
    top: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #000;
    color: #fff;
    text-align: center;
    border: none;
    height: 41px;
    z-index: 1;
    font-size: 16px;
    font-family: poppins;
    opacity: 0%;
    cursor: pointer;
}
section.categories div.grid div.cart button.cart:hover {
    transition: all .5s;
    opacity: 100%;
}
section.categories div.grid div.boxa h5 {
    font-size: 16px;
    font-family: poppins;
    margin-bottom: 9px;
    margin-top: 16px;
}
section.categories div.grid div.boxa div.text {
    gap: 9px;
}
section.categories div.grid div.boxa div.text h5.price {
    text-align: center;
    margin: 0px;
}
section.categories div.grid div.boxa div.text h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}
section.categories div.grid div.boxa div.cart button.new {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #0f6;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.categories div.grid div.boxa div.dots {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 9px;
}
section.categories div.grid div.boxa div.dots div.color {
    width: 14px;
    height: 14px;
    background: #fb1314;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: #000 2px solid;
}
section.categories div.grid div.boxa div.dots div.dot {
    width: 20px;
    height: 20px;
    background: #db4444;
    border-radius: 50%;
    margin-left: 9px;
}
section.categories button.view {
    display: block;
    margin: 0 auto;
    padding: 16px 48px;
    background: #db4444;
    color: #fafafa;
    font-family: poppins;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
section.categories button.view a {
    color: #fafafa;
}
section.feature {
    margin-bottom: 27px;
    margin-top: 75px;
}
section.feature div.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 87px;
    width: 87%;
    margin: 0 auto;
}
section.feature div.flex div.box img {
    background: #000;
    padding: 9px;
    border-radius: 50%;
    border: 15px #ccc solid;
    display: block;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 24px;
}
section.feature div.flex div.box h3 {
    text-align: center;
    font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 9px;
}
section.feature div.flex div.box h5 {
    font-size: 14px;
    font-weight: 400;
    font-family: poppins;
    text-align: center;
    margin: 0px;
}
section.footer {
    width: 100%;
    margin-top: 27px;
    background: #000;
    padding-top: 57px;
    height: 440px;
}
section.footer div.flex {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-bottom: 72px;
}
section.footer div.flex div.box h3 {
    font-size: 24px;
    font-weight: 700;
    color: #fafafa;
}
section.footer div.flex div.box h4 {
    font-size: 20px;
    font-family: poppins;
    color: #fafafa;
    font-weight: 400;
}
section.footer div.flex div.box h5 {
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    color: #fafafa;
}
section.footer div.flex div.box div.form {
    border-radius: 5px;
    border: 1.5px solid #fafafa;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.footer div.flex div.box div.form input {
    background: none;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    font-family: poppins;
    color: #fafafa;
}
section.footer div.flex div.box ul {
    list-style: none;
    padding: 0px;
}
section.footer div.flex div.box ul li {
    margin-bottom: 16px;
}
section.footer div.flex div.box ul li a {
    text-decoration: none;
    color: #fafafa;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
}
section.footer div.flex div.box h6 {
    font-family: poppins;
    font-size: 12px;
    color: #fafafa;
    opacity: 70%;
    font-weight: 400;
    margin-bottom: 11px;
}
section.footer div.flex div.box div.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 168px;
    gap: 24px;
    margin-top: 27px;
    cursor: pointer;
}
section.footer h5.co {
    border-top: 1px solid #333;
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    opacity: 40%;
    text-align: center;
    padding-top: 27px;
}
section.products div.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 45px;
    padding-bottom: 27px;
    margin-bottom: 27px;
}
section.products div.grid div.boxa {
    gap: 16px;
}
section.products div.grid div.cart {
    background: #f5f5f5;
    border-radius: 5px;
    width: 270px;
    height: 110px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}
section.products div.grid div.cart img.img {
    display: block;
    width: 50%;
    margin: 0 auto;
}
section.products div.grid div.cart span.icon {
    position: absolute;
    left: 211px;
    bottom: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.products div.grid div.cart span.icon1 {
    position: absolute;
    left: 211px;
    bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.products div.grid div.cart button.cart {
    width: 100%;
    position: absolute;
    top: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #000;
    color: #fff;
    text-align: center;
    border: none;
    height: 41px;
    z-index: 1;
    font-size: 16px;
    font-family: poppins;
    opacity: 0%;
}
section.products div.grid div.cart button.cart:hover {
    transition: all .5s;
    opacity: 100%;
}
section.products div.grid div.boxa h5 {
    font-size: 16px;
    font-family: poppins;
    margin-bottom: 9px;
    margin-top: 16px;
    color: #000;
}
section.products div.grid div.boxa div.text {
    gap: 9px;
    display: flex;
    align-items: center;
}
section.products div.grid div.boxa div.text h5.price {
    text-align: center;
    margin: 0px;
    color: #db4444;
}
section.products div.grid div.boxa div.text h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}
section.products div.grid div.boxa div.cart button.new {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #0f6;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.products div.grid div.boxa div.cart button.off {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #db4444;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.products div.grid div.boxa div.dots {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 9px;
}
section.products div.grid div.boxa div.dots div.color {
    width: 14px;
    height: 14px;
    background: #fb1314;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: #000 2px solid;
}
section.products div.grid div.boxa div.dots div.dot {
    width: 20px;
    height: 20px;
    background: #db4444;
    border-radius: 50%;
    margin-left: 9px;
}
section.products div.grid div.boxa div.texts {
    gap: 9px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
section.products div.grid div.boxa div.text h5.strike {
    opacity: 50%;
    font-family: poppins;
    font-size: 16px;
    display: inline;
    margin: 0px;
    text-decoration-line: line-through;
}
section.products div.grid div.boxa div.texts h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}
section.products div.heading {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
section.products div.heading h4 {
    opacity: 50%;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    display: inline;
    margin-right: 5px;
}
section.products div.heading h4.black {
    opacity: 100%;
    font-family: poppins;
    display: inline;
}
section.item {
    height: auto;
}
section.item div.heading {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 50px;
    margin-bottom: 50px;
}
section.item div.heading h4#home {
    opacity: 50%;
    font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    display: inline;
    margin-right: 5px;
}
section.item div.heading h4#black {
    opacity: 100%;
    font-family: poppins;
    display: inline;
}
section.item div.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
section.item div.flex div.left {
    background: #f5f5f5;
    width: 700px;
    height: 600px;
    border-radius: 5px;
    padding: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.item div.flex div.right {
    width: 400px;
}
section.item div.flex div.right h1#title {
    font-weight: 600;
    font-size: 24px;
}
section.item div.flex div.right div.text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    width: 290px;
}
section.item div.flex div.right div.text h5.grey {
    font-family: poppins;
    font-weight: 400;
    font-size: 14px;
    opacity: 50%;
}
section.item div.flex div.right div.text h5.dif {
    color: #0f6;
    font-weight: 500;
}
section.item div.flex div.right h1#price {
    font-weight: 400;
    font-size: 24px;
    margin-top: -11px;
    margin-bottom: 21px;
}
section.item div.flex div.right div.dots {
    display: flex;
    align-items: center;
    justify-content: start;
}
section.item div.flex div.right div.dots h4 {
    font-weight: 400;
    font-size: 20px;
    margin-right: 27px;
}
section.item div.flex div.right div.dots div.color {
    width: 14px;
    height: 14px;
    background: #fb1314;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: #000 2px solid;
}
section.item div.flex div.right div.dots div.red {
    width: 20px;
    height: 20px;
    background: #db4444;
    border-radius: 50%;
    margin-left: 9px;
}
section.item div.flex div.right div.top {
    display: flex;
    align-items: center;
    justify-content: start;
    border: 1.5px solid #999;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 5px;
    margin-bottom: 19px;
}
section.item div.flex div.right div.top img {
    margin-right: 16px;
}
section.item div.flex div.right div.top div.content h5 {
    margin-bottom: 9px;
    font-size: 16px;
}
section.item div.flex div.right div.top div.content h6 {
    margin-top: 0px;
    text-decoration-line: underline;
    font-size: 12px;
}
section.related {
    margin-top: 50px;
    margin-bottom: 50px;
}
section.related div.title {
    display: flex;
    align-items: center;
    justify-content: start;
}
section.related div.title img {
    margin-right: 16px;
}
section.related div.title h5 {
    font-family: poppins;
    font-weight: 600;
    font-size: 16px;
    color: #db4444;
}
section.related div.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
section.related div.grid div.boxa {
    gap: 16px;
}
section.related div.grid div.cart {
    background: #f5f5f5;
    border-radius: 5px;
    width: 270px;
    height: 110px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}
section.related div.grid div.cart img.img {
    display: block;
    width: 50%;
    margin: 0 auto;
}
section.related div.grid div.cart span.icon {
    position: absolute;
    left: 211px;
    bottom: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.related div.grid div.cart span.icon1 {
    position: absolute;
    left: 211px;
    bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.related div.grid div.cart button.cart {
    width: 100%;
    position: absolute;
    top: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #000;
    color: #fff;
    text-align: center;
    border: none;
    height: 41px;
    z-index: 1;
    font-size: 16px;
    font-family: poppins;
    opacity: 0%;
}
section.related div.grid div.cart button.cart:hover {
    transition: all .5s;
    opacity: 100%;
}
section.related div.grid div.boxa h5 {
    font-size: 16px;
    font-family: poppins;
    margin-bottom: 9px;
    margin-top: 16px;
    color: #000;
}
section.related div.grid div.boxa div.text {
    gap: 9px;
    display: flex;
    align-items: center;
}
section.related div.grid div.boxa div.text h5.price {
    text-align: center;
    margin: 0px;
    color: #db4444;
}
section.related div.grid div.boxa div.text h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}
section.related div.grid div.boxa div.cart button.new {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #0f6;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.related div.grid div.boxa div.cart button.off {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #db4444;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.related div.grid div.boxa div.dots {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 9px;
}
section.related div.grid div.boxa div.dots div.color {
    width: 14px;
    height: 14px;
    background: #fb1314;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: #000 2px solid;
}
section.related div.grid div.boxa div.dots div.dot {
    width: 20px;
    height: 20px;
    background: #db4444;
    border-radius: 50%;
    margin-left: 9px;
}
section.related div.grid div.boxa div.texts {
    gap: 9px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
section.related div.grid div.boxa div.text h5.strike {
    opacity: 50%;
    font-family: poppins;
    font-size: 16px;
    display: inline;
    margin: 0px;
    text-decoration-line: line-through;
}
section.related div.grid div.boxa div.texts h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}
section.search {
    margin-top: 50px;
    margin-bottom: 50px;
}
section.search div.grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
}
section.search div.grid div.boxa {
    gap: 16px;
}
section.search div.grid div.cart {
    background: #f5f5f5;
    border-radius: 5px;
    width: 270px;
    height: 110px;
    margin: 0 auto;
    padding-top: 65px;
    padding-bottom: 65px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
}
section.search div.grid div.cart img.img {
    display: block;
    width: 50%;
    margin: 0 auto;
}
section.search div.grid div.cart span.icon {
    position: absolute;
    left: 211px;
    bottom: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.search div.grid div.cart span.icon1 {
    position: absolute;
    left: 211px;
    bottom: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    padding: 10px;
}
section.search div.grid div.cart button.cart {
    width: 100%;
    position: absolute;
    top: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #000;
    color: #fff;
    text-align: center;
    border: none;
    height: 41px;
    z-index: 1;
    font-size: 16px;
    font-family: poppins;
    opacity: 0%;
}
section.search div.grid div.cart button.cart:hover {
    transition: all .5s;
    opacity: 100%;
}
section.search div.grid div.boxa h5 {
    font-size: 16px;
    font-family: poppins;
    margin-bottom: 9px;
    margin-top: 16px;
    color: #000;
}
section.search div.grid div.boxa div.text {
    gap: 9px;
    display: flex;
    align-items: center;
}
section.search div.grid div.boxa div.text h5.price {
    text-align: center;
    margin: 0px;
    color: #db4444;
}
section.search div.grid div.boxa div.text h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}
section.search div.grid div.boxa div.cart button.new {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #0f6;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.search div.grid div.boxa div.cart button.off {
    position: absolute;
    left: 13px;
    top: 13px;
    background: #db4444;
    border: none;
    border-radius: 5px;
    padding: 4px 12px;
    color: #fafafa;
    font-family: poppins;
}
section.search div.grid div.boxa div.dots {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 9px;
}
section.search div.grid div.boxa div.dots div.color {
    width: 14px;
    height: 14px;
    background: #fb1314;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: #000 2px solid;
}
section.search div.grid div.boxa div.dots div.dot {
    width: 20px;
    height: 20px;
    background: #db4444;
    border-radius: 50%;
    margin-left: 9px;
}
section.search div.grid div.boxa div.texts {
    gap: 9px;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
section.search div.grid div.boxa div.text h5.strike {
    opacity: 50%;
    font-family: poppins;
    font-size: 16px;
    display: inline;
    margin: 0px;
    text-decoration-line: line-through;
}
section.search div.grid div.boxa div.texts h5.grey {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    color: #999;
}